modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["mongodb", "zip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "JobMatchHub API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MongoDB Server"

[[workflows.workflow]]
name = "JobMatchHub API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"
waitForPort = 5000

[[workflows.workflow]]
name = "MongoDB Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mongod --dbpath /tmp/mongodb --port 27017 --bind_ip 127.0.0.1 --nojournal --logpath /tmp/mongodb.log"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80
